###No se desea ver el codigo autogenerado en el repositorio
/NET/PortafolioBackEnd/.vs
/NET/PortafolioBackEnd/AuthenticationAPI/bin/Debug/net7.0
/NET/PortafolioBackEnd/AuthenticationAPI/obj
/NET/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0
/NET/PortafolioBackEnd/Authorization.Aplication/obj
/NET/PortafolioBackEnd/Authorization.Domain/bin/Debug/net7.0
/NET/PortafolioBackEnd/Authorization.Domain/obj
/NET/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0
/NET/PortafolioBackEnd/Authorization.Infrastructure/obj
/PortafolioBackEnd/.vs
/PortafolioBackEnd/AuthenticationAPI/bin/Debug/net7.0
/PortafolioBackEnd/AuthenticationAPI/obj
/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0
/PortafolioBackEnd/Authorization.Aplication/obj
/PortafolioBackEnd/Authorization.Domain/bin/Debug/net7.0
/PortafolioBackEnd/Authorization.Domain/obj
/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0
/PortafolioBackEnd/Authorization.Infrastructure/obj
/NET/PortafolioBackEnd/AuthenticationAPI/bin/Debug/net7.0/AuthenticationAPI.dll
/NET/PortafolioBackEnd/AuthenticationAPI/bin/Debug/net7.0/AuthenticationAPI.exe
/NET/PortafolioBackEnd/AuthenticationAPI/obj/Debug/net7.0/ref/AuthenticationAPI.dll
/NET/PortafolioBackEnd/AuthenticationAPI/obj/Debug/net7.0/refint/AuthenticationAPI.dll
/NET/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0/Authorization.Aplication.dll
/NET/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0/Authorization.Aplication.pdb
/NET/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Aplication/bin/Debug/net7.0/Authorization.Domain.pdb
/NET/PortafolioBackEnd/.vs/PortafolioBackEnd/v17/.suo
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/ref/Authorization.Aplication.dll
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/refint/Authorization.Aplication.dll
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.AssemblyInfo.cs
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.AssemblyInfoInputs.cache
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.csproj.AssemblyReference.cache
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.csproj.FileListAbsolute.txt
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.dll
/NET/PortafolioBackEnd/Authorization.Aplication/obj/Debug/net7.0/Authorization.Aplication.pdb
/NET/PortafolioBackEnd/Authorization.Domain/bin/Debug/net7.0/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Domain/bin/Debug/net7.0/Authorization.Domain.pdb
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/ref/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/refint/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/Authorization.Domain.AssemblyInfo.cs
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/Authorization.Domain.AssemblyInfoInputs.cache
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/Authorization.Domain.csproj.FileListAbsolute.txt
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Domain/obj/Debug/net7.0/Authorization.Domain.pdb
/NET/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0/Authorization.Domain.dll
/NET/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0/Authorization.Domain.pdb
/NET/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0/Authorization.Infrastructure.dll
/NET/PortafolioBackEnd/Authorization.Infrastructure/bin/Debug/net7.0/Authorization.Infrastructure.pdb
/NET/PortafolioBackEnd/Authorization.Infrastructure/obj/Debug/net7.0/ref/Authorization.Infrastructure.dll
/NET/PortafolioBackEnd/Authorization.Infrastructure/obj/Debug/net7.0/refint/Authorization.Infrastructure.dll
HTML/cv.html
